In [1]:
import pandas as pd

In [2]:
df=pd.read_table("c:/Users/vvhem/Downloads/amazon_alexa.tsv")

In [3]:
df.head(3)

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1

In [4]:
df["feedback"].unique()

array([1, 0], dtype=int64)

In [15]:
grp=df.groupby(df.feedback)

In [16]:
grp

In [17]:
df1=grp.get_group(0)

In [18]:
df1

,rating,date,variation,verified_reviews,feedback
46,2,30-Jul-18,Charcoal Fabric,"It's like Siri, in fact, Siri answers more acc...",0
111,2,30-Jul-18,Charcoal Fabric,Sound is terrible if u want good music too get...,0
141,1,30-Jul-18,Charcoal Fabric,Not much features.,0
162,1,30-Jul-18,Sandstone Fabric,"Stopped working after 2 weeks ,didn't follow c...",0
176,2,30-Jul-18,Heather Gray Fabric,Sad joke. Worthless.,0
...,...,...,...,...,...
3047,1,30-Jul-18,Black Dot,Echo Dot responds to us when we aren't even ta...,0
3048,1,30-Jul-18,White Dot,NOT CONNECTED TO MY PHONE PLAYLIST :(,0
3067,2,30-Jul-18,Black Dot,The only negative we have on this product is t...,0
3091,1,30-Jul-18,Black Dot,I didn’t order it,0
3096,1,30-Jul-18,White Dot,The product sounded the same as the emoji spea...,0

In [19]:
df2=grp.get_group(1)

In [21]:
df2=df2.head(257)

In [22]:
df2

,rating,date,variation,verified_reviews,feedback
0,5,31-Jul-18,Charcoal Fabric,Love my Echo!,1
1,5,31-Jul-18,Charcoal Fabric,Loved it!,1
2,4,31-Jul-18,Walnut Finish,"Sometimes while playing a game, you can answer...",1
3,5,31-Jul-18,Charcoal Fabric,I have had a lot of fun with this thing. My 4 ...,1
4,5,31-Jul-18,Charcoal Fabric,Music,1
...,...,...,...,...,...
260,5,29-Jul-18,Heather Gray Fabric,Have Alexa throughout the house----the future ...,1
261,5,29-Jul-18,Charcoal Fabric,I already have an Alexa and with Amazon find t...,1
262,5,29-Jul-18,Sandstone Fabric,Arrived as expected.,1
263,5,29-Jul-18,Charcoal Fabric,Bought this a few weeks ago - everything abou...,1
264,4,29-Jul-18,Charcoal Fabric,Terrific,1

In [25]:
df1=df1.drop(["rating","date","variation"],axis=1)

In [26]:
df1

                                       verified_reviews  feedback
46    It's like Siri, in fact, Siri answers more acc...         0
111   Sound is terrible if u want good music too get...         0
141                                  Not much features.         0
162   Stopped working after 2 weeks ,didn't follow c...         0
176                                Sad joke. Worthless.         0
...                                                 ...       ...
3047  Echo Dot responds to us when we aren't even ta...         0
3048              NOT CONNECTED TO MY PHONE PLAYLIST :(         0
3067  The only negative we have on this product is t...         0
3091                                  I didn’t order it         0
3096  The product sounded the same as the emoji spea...         0

[257 rows x 2 columns]

In [27]:
df2=df2.drop(["rating","date","variation"],axis=1)

In [28]:
df2

                                      verified_reviews  feedback
0                                        Love my Echo!         1
1                                            Loved it!         1
2    Sometimes while playing a game, you can answer...         1
3    I have had a lot of fun with this thing. My 4 ...         1
4                                                Music         1
..                                                 ...       ...
260  Have Alexa throughout the house----the future ...         1
261  I already have an Alexa and with Amazon find t...         1
262                               Arrived as expected.         1
263  Bought this a few weeks ago -  everything abou...         1
264                                           Terrific         1

[257 rows x 2 columns]

In [38]:
del(df)

In [31]:
df=pd.merge(df1,df2)

In [39]:
df=pd.concat([df1,df2])

In [40]:
df

                                      verified_reviews  feedback
46   It's like Siri, in fact, Siri answers more acc...         0
111  Sound is terrible if u want good music too get...         0
141                                 Not much features.         0
162  Stopped working after 2 weeks ,didn't follow c...         0
176                               Sad joke. Worthless.         0
..                                                 ...       ...
260  Have Alexa throughout the house----the future ...         1
261  I already have an Alexa and with Amazon find t...         1
262                               Arrived as expected.         1
263  Bought this a few weeks ago -  everything abou...         1
264                                           Terrific         1

[514 rows x 2 columns]

In [51]:
names_col=['reviews','result']
imDb=pd.read_table("c:/Users/vvhem/Downloads/imdb_labelled.txt", names=names_col)
imDb

                                               reviews  result
0    A very, very, very slow-moving, aimless movie ...       0
1    Not sure who was more lost - the flat characte...       0
2    Attempting artiness with black & white and cle...       0
3         Very little music or anything to speak of.         0
4    The best scene in the movie was when Gerardo i...       1
..                                                 ...     ...
743  I just got bored watching Jessice Lange take h...       0
744  Unfortunately, any virtue in this film's produ...       0
745                   In a word, it is embarrassing.         0
746                               Exceptionally bad!         0
747  All in all its an insult to one's intelligence...       0

[748 rows x 2 columns]

In [54]:
imDb["result"].value_counts()

1    386
0    362
Name: result, dtype: int64

In [55]:
df.to_csv("amazon.csv")

In [56]:
imDb.to_csv("imdb.csv")